@font-face {
    font-family: 'Jalnan';
    src: url('../src/assets/font/JalnanGothicTTF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'One';
    src: url('../src/assets/font/ONEMobileTitle.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Locus';
    src: url('../src/assets/font/locus_sangsang.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}